body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
  background-color: antiquewhite;
  color: #4a4a4a;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: #eda113;
}

.mainimg {
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #eda113;
}

p {
  font-size: 1.2rem;
  width: 75ch;
  text-align: justify;
}

.content {
  display: flex;
  justify-content: center;
  gap: 15rem;
}

.ingredients {
  margin: 1rem 0;
  width: 40ch;
}

.steps {
  margin: 1rem 0;
  width: 75ch;
}

.ingredients h3,
.steps h3 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #eda113;
  margin: 1rem 0;
  padding: 0;
}

.ingredients ul {
  list-style-type: square;
  color: #4a4a4a;
  margin: 0;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.steps ol {
  list-style-type: decimal-leading-zero;
  color: #4a4a4a;
  margin: 0;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.button {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
  color: #4a4a4a;
  text-decoration: none;
}

.button:hover {
  color: #eda113;
}

em,
strong {
  color: #eda113;
}
